<body style="margin:0;padding:0;background-color:${color_night};">
<table role="presentation" width="100%" cellpadding="0" cellspacing="0" style="background-color:${color_night};">
<tr><td align="center" style="padding:32px 16px;">
<table role="presentation" width="480" cellpadding="0" cellspacing="0" style="max-width:480px;width:100%;background-color:${color_panel};border:1px solid ${color_gold_deep};border-top:3px solid ${color_gold_corner};">
<tr><td style="padding:32px 36px;">
${content}
</td></tr></table>
<p style="margin:16px 0 0;font-family:${font_body};font-size:11px;color:${color_faint};">${server_name}</p>
</td></tr></table></body>
